@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*body {
  overflow-x: hidden;
  }
*/
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #008036;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
}

a {
  font-family: "Amatic SC", cursive;
  font-weight: 100;
  font-size: 2.5rem;
}

.menu_title {
  font-family: "Amatic SC", cursive;
  font-weight: 100;
  font-size: 1.6rem;
}

.hero_title {
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  text-align: end;
  line-height: 4rem;
  font-weight: 400;
  top: 92%;
  right: 1%;
}
.hero_title span {
  background-color: #008036;
}

.scrollText {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  font-weight: 500;
  color: #008036;
}

.section_title {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 4rem;
}

.section_subtitle {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.news_article--date {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-top: 20px;
}

.news_article--text {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.plusBtn {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: end;
}

.plusBtn_txt {
  padding-top: 20px;
  margin-bottom: 1rem;
}

.img_subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.img_desc {
  font-size: 0.6em;
  line-height: 1.6em;
  font-weight: 400;
}

.section_desc--concept {
  color: white;
  font-size: 0.6em;
  line-height: 1.6em;
  font-weight: 400;
}

.section_subtitle--concept {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 20px;
  padding-left: 1.5rem;
}

.title--green {
  color: #008036;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 2rem;
}

.subtitle--green {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 2rem;
}

.card_title {
  font-size: 0.6em;
  line-height: 1.8em;
  font-weight: 400;
}

.popup_box {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 6rem;
}

.popup_title {
  font-weight: 500;
  text-align: left;
  margin-bottom: 1rem;
}

.popup_txt {
  text-align: left;
}

.carouselTitle {
  font-size: 0.8em;
  line-height: 1.8em;
  font-weight: 400;
  text-align: left;
  padding: 1rem 1.2rem;
}

.carouselTxt {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: left;
  padding: 1rem 1.2rem;
}

.card_text {
  font-size: 0.6em;
  line-height: 1.8em;
  font-weight: 400;
}

.deli_text {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  margin-bottom: 6rem;
}

.partner_title {
  font-size: 0.8em;
  margin-bottom: 1.5rem;
}

.partner_info {
  font-size: 0.7em;
}

.partner_infoPlus {
  font-size: 0.75em;
}

.line_title {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.6em;
}

.line_subtitle {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

.line_desc {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.line_list_element {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.insta_desc {
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  margin: 2rem 0 3rem 0;
}

.form_part {
  color: white;
}

.contact_title {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 5rem;
}

.contact_subtitle {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

label {
  font-size: 1rem;
}

input {
  font-size: 1rem;
  color: #5fa57d;
}

textarea {
  font-size: 1rem;
  color: #5fa57d;
}

#message {
  font-size: 1rem;
  color: #5fa57d;
}

.company_desc_title {
  font-size: 1rem;
}

.company_desc_info {
  font-size: 1rem;
}

.footer_adress {
  font-weight: 300;
  font-size: 0.8em;
}

.footer_hour {
  font-size: 0.8em;
}

.footer_tel {
  font-size: 0.8em;
}

.footer_copyright {
  font-size: 0.7em;
}

.scroll {
  position: relative;
}

.scrolldown1 {
  position: absolute;
  left: 50%;
  bottom: 65%;
  height: 50px;
}
.scrolldown1 span {
  position: absolute;
  left: -22px;
  top: -55%;
  color: #008036;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.scrolldown1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #008036;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
/*========= レイアウトのためのCSS ===============*/
/*========= waveを描画するエリア設定 ===============*/
.wave {
  position: relative;
}

.wave:nth-child(1) {
  background: #fff;
  height: 1px;
}

.wave:nth-child(2) {
  background: #fff;
  height: 150px;
}

.wave:nth-child(3) {
  background: #008036;
  margin-bottom: 100px;
  height: 40rem;
}

.wave canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wave--2 {
  position: relative;
}

.wave--2:nth-child(1) {
  background: #fff;
  height: 1px;
}

.wave--2:nth-child(2) {
  background: #fff;
  height: 1px;
}

.wave--2:nth-child(3) {
  background: #008036;
  margin-bottom: 100px;
  height: 70rem;
}

/*
.wave--2 canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
*/
/* Animation property */
.illust {
  animation: wiggle 3s alternate infinite;
}

.illust2 {
  animation: wiggle 3s alternate infinite;
}

.illust3 {
  animation: wiggle 2s alternate infinite;
}

.illust4 {
  animation: wiggle 3s alternate infinite;
}

.illust5 {
  animation: wiggle 2s alternate infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(10deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.illust {
  transform-origin: 50% 5em;
  animation-delay: 6.1s;
}

.illust2 {
  transform-origin: 50% 5em;
  animation-delay: 8.7s;
}

.illust3 {
  transform-origin: 50% 5em;
  animation-delay: 9s;
}

.illust4 {
  transform-origin: 50% 5em;
  animation-delay: 7.3s;
}

.illust5 {
  transform-origin: 50% 5em;
  animation-delay: 9.8s;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #008036; /* Dark Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spinloader 2s linear infinite;
}

.loader img {
  height: 60px;
  width: 60px;
  animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinlogo {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.style-wrap {
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
  z-index: 3;
}

.slideshow {
  display: flex;
  justify-content: space-between;
  animation: loop-slide 30s infinite linear 1s both;
  list-style: none;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.content {
  display: flex;
  width: 18rem;
  height: auto;
  margin-top: 8rem;
  border-radius: 35px;
  background-color: white;
}

.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.carouselImg {
  width: 100%;
  height: auto;
  border-radius: 35px 35px 0 0;
}

/* ホバー時の装飾（パターン3） */
.content-hover {
  transition: all 0.2s;
  margin-right: 10px;
}

.content-hover:hover {
  transform: translateY(-20px);
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.5;
  cursor: pointer;
}

.recommend_container {
  padding-top: 5rem;
  margin-top: 7rem;
  background-color: #f5f5f5;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 128, 54, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 35px;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;
  z-index: 9999;
}

.popup_box {
  text-decoration: none;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #008036;
}

.popup .close:hover {
  color: #c1ddcd;
}

.popup_img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
header {
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
}
.logo img {
  width: 70%;
}

/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: #008036;
  color: white;
  height: 3rem;
  width: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.menu_title {
  position: absolute;
  top: 11.5vh;
  right: 6.4vw;
}

.background {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  background-color: #008036;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #008036;
}

.link_subtitle {
  font-size: 20px;
  margin-bottom: 2.5rem;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}

.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 1.2rem;
  height: 2px;
  background-color: white;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.5rem;
}

.icon::after {
  top: 0.5rem;
}

.button:hover icon:before {
  top: -1rem;
}

.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

/* ********** HERO ********** */
.hero {
  position: relative;
  margin-bottom: 15rem;
}

.background_img {
  width: 100%;
}

.eggplant {
  position: absolute;
  width: 15%;
  max-width: 80px;
  height: auto;
  right: 13%;
  z-index: 1;
}

.pumpkin {
  position: absolute;
  width: 22%;
  max-width: 120px;
  height: auto;
  right: 3%;
  top: -5%;
}

.strawberry {
  position: absolute;
  width: 10%;
  height: auto;
  left: 0;
  top: 90%;
}

.carot {
  position: absolute;
  width: 30%;
  height: auto;
  left: 2%;
  top: 77%;
  z-index: 1;
}

/* ********** SCROLL EFFECT ********** */
.scroll {
  padding-top: 15rem;
}

/* ********** NEWS ********** */
.news_container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.wave_container {
  position: absolute;
}

/*
.news {
    position: absolute;
    background: url(../../img/wave.svg) repeat-x;
    bottom: 0px;
    width: 4000px;
    height: 198px;
    z-index: -1000;
    animation: wave 25s cubic-bezier(.55,.5,.45,.5) infinite, endWave;
    transform: translate3d(0, 0, 0);
}

.news2 {
    position: absolute;
    background: url(../../img/wavee2.svg) repeat-x;
    bottom: -570px;
    width: 6400px;
    height: 198px;
    overflow: hidden;
    object-fit: none;
    z-index: -1000;
    animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
}


@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  .endWave{
    display:none;
  }

*/
.news_illustration--a {
  position: absolute;
  width: 10%;
  height: auto;
  top: -3%;
  left: 4%;
  z-index: 1;
}

.news_illustration--b {
  position: absolute;
  width: 11%;
  height: auto;
  top: 3%;
  left: 60%;
  z-index: 1;
}

.news_illustration--c {
  position: absolute;
  width: 22%;
  height: auto;
  top: -3%;
  left: 75%;
  z-index: 1;
}

.news_illustration--d {
  position: absolute;
  width: 20%;
  height: auto;
  top: 43%;
  left: 18%;
  z-index: 1;
}

.news_illustration--e {
  position: absolute;
  width: 12%;
  height: auto;
  top: 43%;
  left: 75%;
  z-index: 1;
}

.news_content {
  background-color: #008036;
  position: relative;
  top: -10%;
  padding: 2rem;
}

.news_content--part2 {
  position: relative;
  top: 280%;
  margin-top: 5rem;
  justify-content: center;
  padding: 0 20px;
}

.shopImg {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.img_subtitle {
  padding: 0 2rem;
}

.img_desc {
  padding: 2rem;
}

/* ********** CONCEPT ********** */
.concept_container {
  position: relative;
  background-color: #008036;
  padding: 2rem 2rem 4rem 2rem;
  width: 90%;
  border-radius: 0 20px 20px 0;
  margin-bottom: 9rem;
}

.titleSubtitle_container {
  display: flex;
  align-items: center;
}

.corn {
  position: absolute;
  width: 27%;
  height: auto;
  top: -7%;
  left: 60%;
}

.kinoko {
  position: absolute;
  width: 18%;
  height: auto;
  top: -10%;
  left: 90%;
}

.mushroom {
  position: absolute;
  width: 9%;
  height: auto;
  top: -2%;
  left: 100%;
}

.boss {
  width: 70%;
  height: auto;
}

.concept_img {
  position: absolute;
  width: 30%;
  height: auto;
  top: 94%;
  left: 40%;
}

/* ********** RECOMMEND ********** */
.recommend_container {
  position: relative;
  text-align: center;
  background-color: #fcfaf8;
}

/* ********** STORE ********** */
.store_container {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.garlic {
  width: 8%;
  height: auto;
  z-index: 1;
}

.potato {
  width: 11%;
  height: auto;
  z-index: 1;
}

.cabagge {
  width: 22%;
  height: auto;
  z-index: 1;
}

.echalote {
  width: 22%;
  height: auto;
  z-index: 1;
}

.vegetable4 {
  position: relative;
  text-align: end;
  padding: 1rem;
}

.store_img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.store_illustration {
  position: absolute;
  width: 10%;
  height: auto;
  top: 25%;
  left: 10%;
}

.adressCard {
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 50%;
  left: 15%;
  width: 70%;
  height: auto;
  text-align: left;
  box-shadow: 0px 2px 5px 0px rgba(174, 160, 160, 0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(168, 141, 141, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(163, 132, 132, 0.5);
  border-radius: 25px;
  padding: 2rem 1rem;
}

.carot2 {
  position: absolute;
  width: 20%;
  height: auto;
  top: 62%;
  left: 75%;
  z-index: 1;
}

.map {
  position: relative;
  margin-top: 17rem;
  width: 100%;
}

/* ********** DELI ********** */
.deli_container {
  position: relative;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.deli_logo {
  width: 50%;
  height: auto;
}

/* ********** PARTNER ********** */
.partner_container {
  position: relative;
}

.fa-phone {
  margin-right: 1rem;
}

.fa-globe {
  margin-right: 1rem;
}

.partner_content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-top: 1px solid #008036;
}

.partner_text {
  justify-content: left;
}

.partner_content--2 {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #008036;
  border-bottom: 1px solid #008036;
}

.partner_logo {
  width: 40%;
  height: auto;
  float: right;
}

.partner_infoPlus {
  margin-top: 1rem;
  margin-right: 0.5rem;
  text-align: right;
}

/* ********** LINE ********** */
.line_container {
  position: relative;
  padding-left: 3rem;
  margin-top: 6rem;
}

.line_img {
  width: 100%;
  height: auto;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.line_subtitle {
  margin-top: 1rem;
}

.line_desc {
  margin-top: 1rem;
}

.fukidashi_shape {
  width: 50%;
  height: auto;
  margin: 2rem 0;
  padding-left: 0.5rem;
}

.lineBtn_container {
  text-align: center;
}

.line_btn {
  width: 60%;
  height: auto;
  margin: 3rem 0;
}

.togarashi {
  position: absolute;
  width: 13%;
  height: auto;
  top: 98%;
  left: 20%;
}

.onion {
  position: absolute;
  width: 25%;
  height: auto;
  top: 103%;
  left: 4%;
}

/* ********** INSTA ********** */
.insta {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
  margin-bottom: 10rem;
}

.insta_logo {
  width: 52%;
  height: auto;
}

.instaPics {
  margin-top: 2rem;
}

.mottomiru {
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 1px solid #008036;
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
  z-index: 10000;
}

.mottomiru:hover {
  background: #008036;
  color: white;
  text-decoration: none;
}

/* ********** CONTACT ********** */
.contact_container {
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #008036;
}

.raddish {
  position: absolute;
  width: 9%;
  height: auto;
  z-index: 1;
  top: -10%;
  left: 4%;
}

.strawberry--left {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 1;
  top: -5%;
  left: 12%;
}

.poire {
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 1;
  top: -15%;
  left: 24%;
}

.contact_form {
  padding: 0 2rem;
}

.contact_illustration {
  position: absolute;
  width: 22%;
  height: auto;
  z-index: 1;
  top: -15%;
  left: 74%;
}

.form_part {
  border-top: 1px solid white;
  padding: 2rem 0;
  justify-content: left;
}

.form_part_title {
  text-align: left;
}

.contact_titleSubtitle {
  text-align: center;
}

input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  padding-left: 1rem;
  background-color: #c1ddcd;
}

textarea {
  width: 100%;
  height: 16rem;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #c1ddcd;
  resize: none;
}

.submitBtn {
  cursor: pointer;
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 1px solid #008036;
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.submitBtn:hover {
  background: #008036;
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

/* ********** COMPANY ********** */
.company_container {
  position: relative;
  padding: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company_title_container {
  margin-top: 1rem;
}

.zucchini {
  position: absolute;
  width: 18%;
  height: auto;
  top: -28%;
  left: 64%;
}

.tomato {
  position: absolute;
  width: 12%;
  height: auto;
  top: -23%;
  left: 84%;
}

.company_desc--1 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid #008036;
}

.company_desc--2 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #008036;
}

/* ********** FOOTER ********** */
footer {
  width: 100%;
  position: relative;
  margin-bottom: 10rem;
  text-align: center;
}

.funavegi_logo {
  width: 25%;
  height: auto;
}

.googleBtn {
  cursor: pointer;
  width: 10rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 1px solid #008036;
  color: #008036;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.googleBtn:hover {
  background: #008036;
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

.footer_adress {
  padding: 0.5rem;
  margin-top: 1rem;
}

.footer_hour {
  padding: 0.5rem;
}

.footer_tel {
  padding: 0.5rem;
}

.footer_copyright {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
