.style-wrap {
    display: flex;
    align-items: center;
    height: auto;
    overflow: hidden;
    z-index: 3;
  }

  .slideshow {
    display: flex;
    justify-content: space-between;
    animation: loop-slide 30s infinite linear 1s both;
    list-style: none;
  }

  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }

  }

  .content {
    display: flex;
    width: 18rem;
    height: auto;
    margin-top: 8rem;
    border-radius: 35px;
  }
  
  .slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

.carouselImg {
    width: 100%;
    height: auto;
    border-radius: 35px 35px 0 0;
}

  

/* ホバー時の装飾（パターン3） */
.content-hover {
  transition: all 0.2s;
  margin-right: 10px;
}

.content-hover:hover {
  transform: translateY(-20px);
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.5;
  cursor: pointer;
}




.recommend_container {
    padding: 5rem 0rem 3rem 0rem;
    margin-top: 7rem;
    background-color: #f5f5f5;
  }

