.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 128, 54, 0.9);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }

  .popup {
    padding: 20px;
    background: #fff;
    border-radius: 35px;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    z-index: 9999;
  }
  
  .popup_box {
    text-decoration: none;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: $colour-primary;
  }
  .popup .close:hover {
    color: $colour-secondary;
  }
 
  
.popup_img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
}

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }