.scroll {
    position: relative;
}

.scrolldown1{
  position:  absolute;
  left: 50%;
  bottom: 65%;
  height: 50px;

  span{
    position:  absolute;
    left:-15px;
    top: -55%;
    color: $colour-primary;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
  }
}

.scrolldown1::after{
  content:  "";
  position:  absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: $colour-primary;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove{
  0%{
    height: 0;
    top: 0;
    opacity: 0;
  }
  30%{
    height: 30px;
    opacity: 1;
  }
  100%{
    height: 0;
    top: 50px;
    opacity: 0;
  }
}










/*========= レイアウトのためのCSS ===============*/


/*========= waveを描画するエリア設定 ===============*/


.wave{
  position: relative;
}

.wave:nth-child(1){
  background:#fff;  
  height: 1px;
}

.wave:nth-child(2){
  background:#fff; 
  height: 150px; 
}

.wave:nth-child(3){
  background:#008036; 
  margin-bottom: 100px;
  height: 40rem;
}

.wave canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}