@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');


body {
    font-family: 'Noto Sans JP', sans-serif;
    color: $colour-primary;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.2;
}

a {
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 2.5rem;
}

.menu_title {
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 1.6rem;
}

.hero_title {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    color: white; 
    text-align: end; 
    line-height: 4rem;
    font-weight: 400;
    top: 92%; 
    right: 1%; 

    span {
        background-color: $colour-primary;
    }
}


.scrollText {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: 500;
    color: $colour-primary;
}


.section_title {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 4rem;
}

.section_subtitle {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.news_article--date {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding-top: 20px;
}

.news_article--text {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.plusBtn {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: end;
}

.plusBtn_txt {
    padding-top: 20px;
    margin-bottom: 1rem;
}

.img_subtitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.img_desc {
    font-size: 0.6em;
    line-height: 1.6em;
    font-weight: 400;
}

.section_desc--concept {
    color: white;
    font-size: 0.6em;
    line-height: 1.6em;
    font-weight: 400;
}

.section_subtitle--concept {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding-left: 1.5rem;
}


.title--green {
    color: $colour-primary;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 4rem;
    margin-top: 2rem;
}

.subtitle--green {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin-bottom: 2rem;
}

.card_title {
    font-size: 0.6em;
    line-height: 1.8em;
    font-weight: 400;
}

.popup_box {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 6rem;
}

.popup_title {
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}

.popup_txt {
    text-align: left;
}

.carouselTitle {
    font-size: 0.8em;
    line-height: 1.8em;
    font-weight: 400;
    text-align: left;
    padding: 1rem 1.2rem;
}

.carouselTxt {
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: left;
    padding: 1rem 1.2rem;
}

.card_text {
    font-size: 0.6em;
    line-height: 1.8em;
    font-weight: 400;
}

.deli_text {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: .6em;
    margin-bottom: 6rem;
}

.partner_title {
    font-size: .8em;
    margin-bottom: 1.5rem;
}

.partner_info {
    font-size: 0.7em;
}

.partner_infoPlus {
    font-size: 0.75em;
}

.line_title {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
}

.line_subtitle {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

.line_desc {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

.line_list_element {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

.insta_desc {
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    margin: 2rem 0 3rem 0;
}

.form_part {
    color: white;
}

.contact_title {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 5rem;
}

.contact_subtitle {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

label {
    font-size: 1rem;
}

 input {
    font-size: 1rem;
    color: $colour-tertiary;
 }

 textarea {
    font-size: 1rem;
    color: $colour-tertiary;
 }

 #message {
    font-size: 1rem;
    color: $colour-tertiary;
 }

 .company_desc_title {
    font-size: 1rem;
 }

 .company_desc_info {
    font-size: 1rem;
 }

.footer_adress {
    font-weight: 300;
    font-size: .8em;
 }

 .footer_hour {
    font-size: .8em;
 }

 .footer_tel {
    font-size: .8em;
 }

 .footer_copyright {
    font-size: 0.7em;
 }