/* ********** HERO ********** */

.hero {
    position: relative;
    margin-bottom: 11rem;
}

.background_img {
    width: 100%;
}

.eggplant {
    position: absolute;
    width: 15%;
    height: auto;
    right: 13%;
    z-index: 1;
}

.pumpkin {
    position: absolute;
    width: 20%;
    height: auto;
    right: 3%;
    top: -5%;
}

.strawberry {
    position: absolute;
    width: 10%;
    height: auto;
    left: 0;
    top: 90%;
}

.carot {
    position: absolute;
    width: 30%;
    height: auto;
    left: 2%;
    top: 77%;
    z-index: 1;
}



/* ********** SCROLL EFFECT ********** */

.scroll {
    padding-top: 15rem;
}