/* ********** HERO ********** */

.hero {
    position: relative;
    margin-bottom: 15rem;
}

.background_img {
    width: 100%;
}

.eggplant {
    position: absolute;
    width: 15%;
    height: auto;
    right: 13%;
    z-index: 1;
}

.pumpkin {
    position: absolute;
    width: 20%;
    height: auto;
    right: 3%;
    top: -5%;
}

.strawberry {
    position: absolute;
    width: 10%;
    height: auto;
    left: 0;
    top: 90%;
}

.carot {
    position: absolute;
    width: 30%;
    height: auto;
    left: 2%;
    top: 77%;
    z-index: 1;
}


/* ********** SCROLL EFFECT ********** */

.scroll {
    padding-top: 15rem;
}


/* ********** NEWS ********** */

.news_container {
    position: relative;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    margin-bottom: 100rem;
}

.wave_container {
    position: absolute;
}

.news {
    position: relative;
    background: url(../../img/wavee.svg) repeat-x;
    bottom: 210px;
    width: 4000px;
    height: 198px;
    z-index: -1000;
    animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
}

.news2 {
    position: relative;
    background: url(../../img/wavee2.svg) repeat-x;
    bottom: -570px;
    width: 6400px;
    height: 198px;
    overflow: hidden;
    object-fit: none;
    z-index: -1000;
    animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;;
    transform: translate3d(0, 0, 0);
}


@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  .endWave{
    display:none;
  }



.news_illustration--a {
    position: absolute;
    width: 12%;
    height: auto;
    top: -110%;
    left: 4%;
}

.news_illustration--b {
    position: absolute;
    width: 11%;
    height: auto;
    top: -69%;
    left: 60%;
}

.news_illustration--c {
    position: absolute;
    width: 22%;
    height: auto;
    top: -110%;
    left: 75%;
}

.news_illustration--d {
    position: absolute;
    width: 22%;
    height: auto;
    top: 300%;
    left: 18%;
}

.news_illustration--e {
    position: absolute;
    width: 12%;
    height: auto;
    top: 300%;
    left: 75%;
}

.news_content {
    background-color: $colour-primary;
    position: absolute;
    top: -10%;
    padding: 0 5%;
}

.news_content--part2 {
    position: absolute;
    top: 280%;
    margin-top: 20rem;
    justify-content: center;
    padding: 0 20px;
}

.shopImg {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.img_subtitle {
    padding-bottom: 2rem;
}


/* ********** CONCEPT ********** */

.concept_container {
    position: absolute;
    margin-top: 10rem;
    margin-bottom: 50rem;
    background-color: $colour-primary;
    padding: 2rem 2rem 4rem 2rem;
    width: 90%;
    border-radius: 0 20px 20px 0;
}

.titleSubtitle_container {
    display: flex;
    align-items: center;
}

.corn {
    position: absolute;
    width: 30%;
    height: auto;
    top: -7%;
    left: 60%;
}

.kinoko {
    position: absolute;
    width: 19%;
    height: auto;
    top: -10%;
    left: 90%;
}

.mushroom {
    position: absolute;
    width: 9%;
    height: auto;
    top: -2%;
    left: 100%;
}

.boss {
    width: 70%;
    height: auto;
}

.concept_img {
    position: absolute;
    width: 30%;
    height: auto;
    top: 94%;
    left: 40%;
}


/* ********** RECOMMEND ********** */


.recommend_container {
    position: relative;
    margin-top: 186rem;
    text-align: center;
}


/* ********** STORE ********** */

.store_container {
    position: relative;
    margin-top: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.garlic {
    width: 8%;
    height: auto;
}

.potato {
    width: 11%;
    height: auto; 
}

.cabagge {
    width: 25%;
    height: auto; 
}

.echalote {
    width: 25%;
    height: auto;
}

.vegetable4 {
    position: relative;
    text-align: end;
    padding: 1rem;
}

.store_img {
    width: 100%;
    height: auto;
}

.store_illustration {
    position: absolute;
    width: 10%;
    height: auto;
    top: 28%;
    left: 10%;
}

.adressCard {
    position: relative;
    width: 50%;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 5px 0px rgba(84,58,58,0.84);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(84,58,58,0.84);
    -moz-box-shadow: 0px 2px 5px 0px rgba(84,58,58,0.84);
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 5rem;
}

.carot2 {
    position: absolute;
    width: 20%;
    height: auto;
    top: 65%;
    left: 65%;
}

.map {
    width: 100%;
}

/* ********** DELI ********** */

.deli_container {
    position: absolute;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ********** PARTNER ********** */

.partner_container {
    position: absolute;
    margin-top: 50rem;
}

.partner_content {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $colour-primary;
}

.partner_content--2 {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $colour-primary;
    border-bottom: 1px solid $colour-primary;
}

.partner_logo {
    width: 30%;
    height: auto;
    float: right;
}

.partner_infoPlus {
    margin-top: 1rem;
    margin-right: .5rem;
    text-align: right;
}

/* ********** LINE ********** */

.line_container {
    position: absolute;
    margin-top: 120rem;
    padding-left: 1rem;
}

.line_img {
    width: 100%;
    height: auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.line_subtitle {
    margin-top: 1rem;
}

.line_desc {
    margin-top: 1rem;
}

.fukidashi_shape {
    width: 50%;
    height: auto;
    margin: 2rem 0;
    padding-left: .5rem;
}

.line_btn {
    width: 60%;
    height: auto;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2rem;
}

.togarashi {
    position: absolute;
    width: 13%;
    height: auto;
    top: 102%;
    left: 20%;
}

.onion {
    position: absolute;
    width: 25%;
    height: auto;
    top: 107%;
    left: 4%; 
}


/* ********** INSTA ********** */

.insta {
    position: absolute;
    margin-top: 208rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.insta_logo {
    width: 52%;
    height: auto;
}

.instaPics {
    margin-top: 2rem;
}

.mottomiru {
    cursor: pointer;
    width: 45%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: white;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: 1px solid $colour-primary;
    color: $colour-primary;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .mottomiru:hover {
    background: $colour-primary;
    color: white;
    text-decoration: none;
  }


  /* ********** CONTACT ********** */

  .contact_container {
    position: absolute;
    margin-top: 260rem;
    text-align: left;
    padding: 2rem;
    background-color: $colour-primary;
  }

  .raddish {
    position: absolute;
    width: 9%;
    height: auto;
    top: -20%;
    left: 4%; 
  }

  .strawberry--left {
    position: absolute;
    width: 10%;
    height: auto;
    top: -5%;
    left: 12%;
  }

  .poire {
    position: absolute;
    width: 15%;
    height: auto;
    top: -20%;
    left: 24%;
  }

  .contact_illustration {
    position: absolute;
    width: 15%;
    height: auto;
    top: -15%;
    left: 74%;
  }

  .form_part {
    border-top: 1px solid white;
    padding: 2rem 0;
  }

  .contact_titleSubtitle {
    text-align: center;
  }

input {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    padding-left: 1rem;
    background-color: $colour-secondary;
}

textarea {
    width: 100%;
    height: 12rem;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    padding-left: 1rem;
    background-color: $colour-secondary;
}

